.cv {
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
  background: #f5f5f5;
  @include max(1024px) {
    height: auto;
  }
  @include max(767px) {
    height: 100vh;
  }
  &-wrap {
    height: 100%;
    padding: 4rem;
    background: #fff;
    flex-direction: column;
    @include flex;
    @include max(767px) {
      display: none;
    }
  }
  &-mb {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    display: none;
    @include max(767px) {
      @include flex-ct;
    }
    h2 {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
    a {
      background: #fff;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-first;
    }
  }
  &-info {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      bottom: 0;
      left: -4rem;
      width: calc(100% + 8rem);
      position: absolute;
      border-bottom: 0.1rem solid #e5e5e5;
    }
    .title {
      font-size: 2.6rem;
    }
    .position {
      font-weight: 500;
    }
    &-box {
      margin-bottom: 0.5rem;
      font-size: 1.6rem;
      @include flex-ct;
    }
  }
  &-edu {
    padding-bottom: 2rem;
    &-school {
      @include flex-btw;
      h3 {
        text-transform: uppercase;
      }
    }
  }
  &-exp {
    padding-bottom: 2rem;
    &-info {
      li {
        span {
          text-transform: uppercase;
        }
      }
    }
  }
  &-company {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-box {
      @include flex-btw;
      .company {
        text-transform: uppercase;
      }
    }
  }
  &-skill {
    p {
      span {
        font-weight: 700;
      }
    }
    &-link {
      p {
        margin-right: 0.4rem;
      }
      @include flex-al;
    }
  }

  .title {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  .dot {
    padding-left: 3rem;
    position: relative;
    &::before {
      content: "";
      top: 0.6rem;
      left: 1.5rem;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: #000;
      position: absolute;
    }
  }
}
