* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    height: 100%;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 16px;
  }
  :hover::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 10px;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  outline: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  &::after {
    content: attr(title);
    display: block;
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

button,
select {
  border: none;
  outline: none;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1.5rem;
  position: relative;
}
