block mixins
    include ../views/core/mixins
block variable
    - title = ""
    - mainClass = ""

doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(property='og:type' content='website')
        meta(property='og:locale' content='vi_VN')
        meta(property='fb:pages' content='')
        meta(http-equiv='x-dns-prefetch-control' content='on')
        //- Share Link
        meta(property='og:image' content='')
        meta(property='og:title' content='CV - Nguyễn Võ Hoàng Phi')
        meta(name='description' content='Junior Front End Developer')
        meta(content='INDEX,FOLLOW' name='robots')
        meta(name='copyright' content='Front End Developer')
        meta(name='author' content='Front End Developer')
        meta(http-equiv='audience' content='General')
        meta(name='resource-type' content='Document')
        meta(name='distribution' content='Global')
        meta(name='revisit-after' content='1 days')

        //- Link CSS
        link(rel='stylesheet' href='/css/style.css')

        //- Link JS
        script(src='/js/library/jquery/jquery-min.js')

        title=title

        body

            main.main(class=mainClass)
                block container

            script(src='/js/main.js' type='module' defer='')