header.header
    .header-wrap
        nav.header-menu
            .header-logo 
                a(href="#")
                    h1 HoangPhiio
            .header-row
                .header-col 
                    ul.list 
                        li.list-item
                            a(href="#")
                                span 01. 
                                | Về tôi 
                        li.list-item
                            a(href="#")
                                span 02. 
                                | Dự án
                        li.list-item
                            a(href="#")
                                span 03. 
                                | Kỹ năng
                        li.list-item
                            a(href="#")
                                span 04. 
                                | Resume
                        li.list-item
                            a(href="#")
                                span 05. 
                                | Blog
                .header-col
                    .header-link
                        a.btn.btn-contact(href="#") Liên hệ
