.about {
    
    &-center {
        margin-bottom: 12px;
        &-title {
            position: relative;
            &-heading {
                position: relative;
                text-align: center;
                & h4.hello {
                    position: relative;
                    z-index: 2;
                    margin: 0 auto;
                }
                & .subtitle {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -22px;
                    font-size: 90px;
                    font-weight: 700;
                    z-index: 1;
                    color: rgba(21, 27, 41, 0.5);
                    @include max(800px) {
                        top: -14px;
                        font-size: 70px;
                    }
                    @include max(500px){
                        top: -9px;
                        font-size: 50px;
                    }
                }
            }
        }
        &-introduce {
            @include mid-flex;
            position: relative;
            margin-top: 60px;
            @include max(800px) {
                flex-direction: column;
            }
            @include max(1200px) {
                padding: 0 20px;
            }
            &-img {
                flex: 0 0 50%;
                @include max(800px) {
                    text-align: center;
                }
                & img {
                    width: 374px;
                    margin: 0 auto;
                    @include max(800px) {
                        width: 80%;
                    }
                }
            }
            &-form {
                flex: 0 0 50%;
                & h2 {
                    margin-bottom: 18px;
                    @include max(800px) {
                        font-size: 26px;
                    }
                    @include max(500px) {
                        font-size: 18px;
                    }
                }
                & h4 {
                    font-size: 26px;
                    font-weight: 700;
                    color: $color-primary;
                    margin-bottom: 18px;
                    @include max(500px) {
                        font-size: 20px;
                    }
                }
                @include max(800px) {
                    padding: 0 50px;
                }
                @include max(500px) {
                    padding: 30px;
                }
            }
            &-text {
                margin-bottom: 18px;
                & span {
                    color: $color-four;
                    line-height: 2;
                }
            }
            &-details {
                color: $color-four;
                line-height: 2;
                margin-bottom: 18px;
                & li span:first-child {
                    display: inline-block;
                    width: 120px;
                }
                & li {
                    margin: 10px 0;
                }
            }
            &-dwload {
                @include flex;
                width: 180px;
                padding: 15px 20px;
                border-radius: 50px;
                background-color: $color-primary;
                & a {
                    margin: 0 auto;
                }
            }
        }
    }
}
