.main {
  height: 100vh;
  @include max(1024px) {
    height: auto;
  }
  @include max(767px) {
    height: 100vh;
  }
}
.cv {
  padding: 2rem;
  overflow: hidden;
  background: #f5f5f5;
  flex-direction: column;
  @include flex;
  .container {
    max-width: 112rem;
  }
  &-wrap {
    height: 100%;
    padding: 4rem;
    background: #fff;
    flex-direction: column;
    @include flex;
    @include max(767px) {
      display: none;
    }
  }
  &-infomation {
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    > * {
      margin-bottom: 0.5rem;
    }
    &::before {
      content: "";
      bottom: 0;
      left: -4rem;
      width: calc(100% + 8rem);
      position: absolute;
      border-bottom: 0.1rem solid #e5e5e5;
    }
    .fullname {
      font-size: 2.6rem;
      text-transform: uppercase;
    }
    .position {
      font-weight: 500;
    }
    .box {
      font-size: 1.6rem;
      position: relative;
      @include flex-ct;
      a {
        &:nth-child(1) {
          &::after {
            content: "|";
            margin: 0 0.2rem;
            display: initial;
            visibility: visible;
          }
        }
      }
    }
    .social {
      display: block;
    }
  }
  &-education {
    padding-bottom: 2rem;
    &-school {
      @include flex-btw;
      h3 {
        text-transform: uppercase;
      }
    }
  }
  &-experience {
    padding-bottom: 2rem;
    &-info {
      li {
        span {
          text-transform: uppercase;
        }
      }
    }
    &-infomation {
      li {
        span {
          font-weight: 600;
          width: fit-content;
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
  }
  &-company {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-box {
      @include flex-btw;
      .company {
        text-transform: uppercase;
      }
    }
  }
  &-skill {
    p {
      span {
        font-weight: 700;
      }
    }
    &-link {
      p {
        margin-right: 0.4rem;
      }
      @include flex-al;
    }
  }
  &-mobile {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    flex-direction: column;
    display: none;
    @include max(767px) {
      @include flex-ct;
    }
    &-block {
      padding: 2rem;
      background: #fff;
      border-radius: 1.7rem;
      flex-direction: column;
      @include flex;
    }
    h2 {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 2rem;
      @include max(767px) {
        font-size: 1.4rem;
      }
    }
    a {
      margin: 0 auto;
      width: fit-content;
      background: #fff;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      border: 0.1rem solid $color-first;
    }
  }
  .title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .dot {
    padding-left: 3rem;
    position: relative;
    &::before {
      content: "";
      top: 0.6rem;
      left: 1.5rem;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: #000;
      position: absolute;
    }
  }
}
