.header {
  padding: 2rem;
  &-wrap {
    height: 100%;
  }
  &-menu {
    @include flex-btw;
  }
  &-logo {
    a {
      color: white;
      display: block;
      position: relative;
      &::before {
        content: "";
        bottom: 0.8rem;
        right: -1.4rem;
        background: $green-dark;
        position: absolute;
        @include cir(0.8rem);
      }
      h1 {
        color: inherit;
        line-height: normal;
        font-size: 3.4rem;
      }
    }
  }
  &-row {
    gap: 2rem;
    @include flex-al;
  }
  &-list {
    .list {
      @include flex-al;
      &-item {
        color: white;
        padding: 1.5rem;
        a {
          color: inherit;
          font-weight: 500;
          font-size: 1.4rem;
          transition: 0.4s all;
          @include min(1201px) {
            &:hover {
              color: $green-dark;
            }
          }
          span {
            margin-right: 0.5rem;
            color: $green-dark;
          }
        }
      }
    }
  }
}
