extends ../index

block variable
    - title= "Nguyễn Võ Hoàng Phi"
    - bodyClass= "home"
    - mainClass= "porfolio"
    - useHeader= true

block content
    section.section-introduce
        .person.banner.fullScreen
            .person-wrap.banner-position
                .container
                    .person-content.banner-content
                        .person-welcome
                            h2.hello Hi, mình tên là
                        .person-name 
                            h3.name.heading Nguyễn Võ Hoàng Phi.
                        .person-work 
                            h3.work.heading Mình là Front End Developer.
                        .person-introduce
                            p.content Mình là một kỹ sư phần mềm chuyên về thiết kế giao diện người dùng (UX/UI). Hiện tại, mình đang tập trung vào việc phát triển bản thân, các sản phẩm dễ dàng tiếp cận và sử dụng. Trong tương lai gần, mình dự định làm 1 fullstack web và tạo ra một blog cá nhân để chia sẻ những kiến thức thú vị với cộng đồng.
                        .person-contact
                            a.btn.btn-contact(href="#")
                                | Liên hệ công việc!
