extends ../index

block variable
    title= "CV - Nguyễn Võ Hoàng Phi"

block container
    .cv
        .container
            .cv-wrap
                .cv-infomation
                    h1.fullname Nguyễn Võ Hoàng Phi
                    p.position Front End Developer
                    .box 
                        
